Repository HamzaAmar/amar-hamza: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{tsx,ts,js}": "eslint --fix",
  "*.{json,md,scss,css}": "prettier --write",
  "*.{css, scss}": "stylelint --fix"
}

fix: commit to add a stash
  next-env.d.ts
  package.json
  src/pages/blogs/[slug].tsx
  src/pages/blogs/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: footer component - refactor footer components - fix merge conflict problem
  package.json
  pnpm-lock.yaml
  src/components/common/footer/_footer.scss
  src/components/common/footer/footer.tsx
  src/pages/blogs/index.tsx
  src/pages/challenge/[slug].tsx
  src/pages/challenge/index.tsx
Due: eslint --fix, prettier --write

refactor: mdx content - remove data from src - add new folder content and add blog mdx to it
  content/accent-color.mdx
  content/dynamic-routing.mdx
  content/gradientBorder.mdx
  content/grid-2.mdx
  content/grid-3.mdx
  content/grid-4.mdx
  content/grid-5.mdx
  content/hello-world.mdx
  content/inhertence.mdx
  content/preview.mdx
  content/stack.mdx
  src/data/blog/grid-2.mdx
  src/data/tutorial/eslint.mdx
  src/data/tutorial/initProject.mdx
Due: none

refactor: header component - reduce css size - colocate menu and switcher to the header
  src/components/common/header/_header.scss
  src/components/common/header/header.tsx
  src/components/common/header/header.type.ts
  src/components/ui/switcherMode/index.ts
  src/components/ui/switcherMode/switcher.module.css
  src/components/ui/switcherMode/switcher.tsx
  src/constants/menu.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: scss style - change the old color to new color that have nice contrast in light and dark mode - change visually-hidden name to u_sr-only - media query
  src/scss/_media.scss
  src/scss/base/_button.scss
  src/scss/base/_index.scss
  src/scss/base/_link.scss
  src/scss/components/core/_index.scss
  src/scss/components/pages/_notFound.scss
  src/scss/components/ui/_index.scss
  src/scss/generics/_reset.scss
  src/scss/layout/_auto-grid.scss
  src/scss/layout/_box.scss
  src/scss/layout/_index.scss
  src/scss/main.scss
  src/scss/settings/_colors.scss
  src/scss/settings/_font.scss
  src/scss/settings/_index.scss
  src/scss/settings/_media copy.scss
  src/scss/settings/_media.scss
  src/scss/settings/_shadow.scss
  src/scss/utilities/_alignment.scss
  src/scss/utilities/_all-center.scss
  src/scss/utilities/_circle.scss
  src/scss/utilities/_color.scss
  src/scss/utilities/_flex.scss
  src/scss/utilities/_font.scss
  src/scss/utilities/_index.scss
  src/scss/utilities/_section.scss
  src/scss/utilities/_spacing.scss
  src/scss/utilities/_text.scss
  src/scss/utilities/_visually-hidden.scss
Due: prettier --write

chore: add code of conduct and CONTRIBUTE LIST
  .env.exemple
  .eslintignore
  .eslintrc.json
  .prettierignore
  .storybook/main.js
  .storybook/preview.js
  .storybook/test-runner.js
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  createComponent.js
  public/assets/project/dashboard/dashboard.png
  public/assets/project/ui_lego/ui_lego.png
  public/assets/project/ui_lego/ui_lego_avatar.png
  public/feed.xml
  public/sitemap.xml
  scripts/createComponents.js
  tsconfig.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

feat: add flex components
  src/components/core/flex/_flex.scss
  src/components/core/flex/flex.stories.tsx
  src/components/core/flex/flex.tsx
  src/components/core/flex/flex.type.ts
  src/components/core/flex/index.tsx
Due: eslint --fix, prettier --write

fix: try to commit to solve problem lint-stage
  .gitignore
  contentlayer.config.js
  src/components/core/alert/alert.stories.tsx
  src/components/core/avatar/avatar.stories.tsx
  src/components/core/button/stories/button.stories.tsx
  src/components/core/button/stories/iconButton.stories.tsx
  src/components/core/grid/_grid.scss
  src/components/core/input-field/storybook/input.stories.tsx
  src/components/core/input-field/storybook/textarea.stories.tsx
  src/components/core/progress/_circleProgress.scss
  src/components/core/progress/circleProgress.tsx
  src/components/core/progress/index.ts
  src/components/core/spinner/_spinner.scss
  src/components/core/spinner/index.ts
  src/components/core/spinner/spinner.stories.tsx
  src/components/core/spinner/spinner.tsx
  src/components/core/spinner/spinner.type.ts
  src/components/core/tag/tag.stories.tsx
  src/components/core/typography/_typography.scss
  src/components/core/typography/index.ts
  src/components/core/typography/typography.tsx
  src/components/core/typography/typography.type.ts
  src/constants/project/dashboard.ts
  src/constants/project/linkdin.ts
  src/constants/project/uiLego.ts
  src/hooks/useBoolean/index.ts
  src/hooks/useBoolean/useBoolean.tsx
  src/type/polymorphic.type.ts
  src/type/utils.tsx
Due: eslint --fix, prettier --write

fix: delete lint staged
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc
Due: none

fix: delete circle progress
  src/components/core/progress/_circleProgress.scss
  src/components/core/progress/circleProgress.tsx
Due: eslint --fix, prettier --write

fix: merge conflict
  package.json
  src/components/core/progress/_circleProgress.scss
  src/components/core/progress/circleProgress.tsx
Due: eslint --fix, prettier --write

feat: add Progress bar component
  src/components/core/progress/_circleProgress.scss
  src/components/core/progress/circleProgress.tsx
  src/components/core/progress/progress.type.ts
  src/components/sections/skill/skill.tsx
Due: eslint --fix, prettier --write

feat: add mdx components and add image to it for blog need
  src/components/ui/index.ts
  src/components/ui/mdxComponents.tsx
  src/pages/blogs/[slug].tsx
  tsconfig.tsbuildinfo
Due: eslint --fix

fix: accessibility issues
  src/components/common/header/_header.scss
  src/components/common/header/header.tsx
  src/components/core/grid/grid.tsx
  src/components/core/index.ts
  src/components/core/input-field/_input-field.scss
  src/components/core/input-field/formController.tsx
  src/components/core/input-field/index.ts
  src/components/core/typography/typography.tsx
  src/components/core/typography/typography.type.ts
  src/components/sections/about/about.tsx
  src/components/sections/articles/articles.tsx
  src/components/sections/contact/contact.tsx
  src/components/sections/project/projects.tsx
  src/components/sections/service/service.tsx
  src/components/sections/skill/skill.tsx
  src/components/ui/formContainer/_form-container.scss
  src/components/ui/formContainer/index.ts
  src/components/ui/index.ts
  src/pages/blogs/index.tsx
  src/type/polymorphic.type.ts
Due: eslint --fix, prettier --write

feat: add blur to the hero section
  src/components/common/header/_header.scss
  src/components/sections/about/_about.scss
  src/components/sections/about/about.tsx
  src/scss/components/ui/_index.scss
  src/type/polymorphic.type.ts
Due: eslint --fix, prettier --write

feat: delete fake articles and add scale css
  content/accent-color.mdx
  content/dynamic-routing.mdx
  content/gradientBorder.mdx
  content/grid-2.mdx
  content/grid-3.mdx
  content/grid-4.mdx
  content/grid-5.mdx
  content/hello-world.mdx
  content/inhertence.mdx
  content/preview.mdx
  content/scale-css.mdx
  content/stack.mdx
Due: none

refactor:remove css module
  src/components/common/layout/_layout.scss
  src/components/common/layout/layout.tsx
  src/components/common/readingLayout/_readingLayout.scss
  src/components/common/readingLayout/readingLayout.module.css
  src/components/common/readingLayout/readingLayout.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove all:reset and fix style problems
  src/components/core/button/btn.tsx
  src/components/core/typography/typography.tsx
  src/components/sections/about/_about.scss
  src/components/sections/about/about.tsx
  src/components/sections/articles/articles.tsx
  src/components/sections/project/projects.tsx
  src/components/sections/service/service.tsx
  src/components/sections/skill/skill.tsx
  src/components/ui/social/_social.scss
  src/pages/blogs/[slug].tsx
  src/pages/blogs/index.tsx
  src/scss/components/common/_index.scss
  src/scss/generics/_reset.scss
  src/scss/layout/_center.scss
  src/scss/settings/_media copy.scss
Due: eslint --fix, prettier --write

fix: resume page
  src/components/icons/gatsby.tsx
  src/components/icons/level.tsx
  src/components/sections/about/about.tsx
  src/components/sections/project/projects.tsx
  src/components/sections/resume/_resume.scss
  src/components/sections/resume/resume.data.ts
  src/components/sections/resume/resume.tsx
  src/scss/_media.scss
Due: eslint --fix, prettier --write

feat: change the meta description message to new one
  src/components/common/layout/layout.tsx
  src/pages/index.tsx
Due: eslint --fix

refactor: Service Component
  src/components/sections/service/_service.scss
  src/components/sections/service/service.tsx
  src/components/sections/service/services.data.tsx
Due: eslint --fix, prettier --write

refactor: skill component and modify skills description
  src/components/sections/skill/_skill.scss
  src/components/sections/skill/skill.tsx
  src/components/sections/skill/skills.data.tsx
  src/scss/utilities/_truncate.scss
Due: eslint --fix, prettier --write

fix: linkdin incorrect image and add pillar description
  public/assets/project/linkdin/linkdin.png
  src/components/core/progress/_circleProgress.scss
  src/constants/project/index.ts
  src/constants/project/linkdin.ts
  src/constants/project/pillar.ts
Due: eslint --fix, prettier --write

feat: improve the site design
  .vscode/settings.json
  contentlayer.config.ts
  package.json
  public/assets/project/pillar/pillar-avatar.png
  public/assets/project/pillar/pillar.png
  src/components/common/footer/footer.tsx
  src/components/core/avatar/_avatar.scss
  src/components/core/avatar/avatar.type.ts
  src/components/core/button/_button.scss
  src/components/sections/about/_about.scss
  src/components/sections/about/about.tsx
  src/components/sections/articles/_articles.scss
  src/components/sections/articles/articles.tsx
  src/components/sections/project/_project.scss
  src/components/sections/project/projects.tsx
  src/components/sections/resume/resume.tsx
  src/components/sections/service/_service.scss
  src/components/sections/service/service.tsx
  src/components/sections/skill/_skill.scss
  src/components/sections/skill/skill.tsx
  src/components/sections/skill/skills.data.tsx
  src/constants/project/pillar.ts
  src/pages/blogs/index.tsx
  src/scss/layout/_auto-grid.scss
  src/scss/layout/_box.scss
  src/scss/layout/_flow.scss
  src/scss/utilities/_section.scss
  src/scss/utilities/_text.scss
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix: some design problem
  src/components/common/footer/footer.tsx
  src/components/common/header/_header.scss
  src/components/common/header/header.tsx
  src/components/common/header/header.type.ts
  src/components/core/input-field/_input-field.scss
  src/components/core/input-field/formController.tsx
  src/components/sections/contact/contact.tsx
  src/components/sections/resume/resume.tsx
  src/components/sections/service/services.data.tsx
  src/components/sections/skill/skill.tsx
  src/scss/_media.scss
Due: eslint --fix, prettier --write

feat: add Static website Rendering Pattern Post
  .yarn/install-state.gz
  .yarnrc.yml
  content/static-website.mdx
  package.json
  public/assets/blog/rendering/static-site-communication.png
  public/assets/blog/rendering/static-website.webp
  src/components/sections/articles/articles.tsx
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

feat: add Static website Rendering Pattern Post
  .yarn/install-state.gz
  .yarnrc.yml
  content/static-website.mdx
  package.json
  public/assets/blog/rendering/static-site-communication.png
  public/assets/blog/rendering/static-website.webp
  scripts/createComponents.js
  src/components/sections/articles/articles.tsx
  src/pages/blogs/index.tsx
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

feat: remove contentlayer and add next-remote-mdx
  .yarn/install-state.gz
  content/gradient-border.mdx
  content/scale-css.mdx
  content/static-website.mdx
  contentlayer.config.ts
  next.config.js
  next.config.mjs
  package.json
  src/api/blog.ts
  src/app/blogs/[slug]/layout.tsx
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/page.tsx
  src/app/page.tsx
  src/components/common/header/header.tsx
  src/components/sections/articles/article.type.ts
  src/components/sections/articles/articles.tsx
  src/components/ui/link/link.tsx
  src/components/ui/mdxComponents.tsx
  src/scss/generics/_reset.scss
  src/scss/settings/_colors.scss
  src/type/post.ts
  src/utils/slugify.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: add u_center css class
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/page.tsx
  src/app/contact/page.tsx
  src/components/common/header/header.tsx
  src/components/core/button/button.tsx
  src/components/core/progress/circleProgress.tsx
  src/components/sections/about/about.tsx
  src/components/sections/articles/articles.tsx
  src/components/sections/service/service.tsx
  src/scss/generics/_reset.scss
  src/scss/utilities/_flex.scss
Due: eslint --fix, prettier --write

fix: the header current active link
  src/components/common/header/header.tsx
  src/components/ui/link/index.ts
  src/components/ui/link/link.module.css
  src/components/ui/link/link.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: the header layout Style Problems
  src/components/common/header/_header.scss
  src/components/common/header/header.tsx
  src/components/common/header/navLink/index.ts
  src/components/common/header/navLink/navLink.tsx
  src/components/ui/link/index.ts
  src/scss/generics/_reset.scss
Due: eslint --fix, prettier --write

feat: add new Project and fix the style
  public/assets/project/car-rental/car-rental-avatar.png
  public/assets/project/car-rental/car-rental.png
  src/app/_components/_index.scss
  src/app/_components/_not-found.scss
  src/app/_components/about/_about.scss
  src/app/_components/about/about.tsx
  src/app/_components/service/service.tsx
  src/app/_components/skill/skills.data.tsx
  src/app/contact/components/contact/_contact.scss
  src/app/contact/components/contact/contact.data.tsx
  src/app/contact/components/contact/contact.tsx
  src/app/contact/components/contact/contact.type.ts
  src/app/contact/components/contact/index.ts
  src/app/resume/_components/resume/_resume.scss
  src/app/resume/_components/resume/index.ts
  src/app/resume/_components/resume/resume.data.ts
  src/app/resume/_components/resume/resume.tsx
  src/app/resume/_components/resume/resume.type.ts
  src/components/core/button/_button.scss
  src/components/core/progress/_circleProgress.scss
  src/components/sections/index.ts
  src/constants/project/car-rental.ts
  src/constants/project/index.ts
  src/scss/generics/_reset.scss
Due: eslint --fix, prettier --write

fix: import problem that cause an error
  src/app/_components/project/projects.tsx
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/page.tsx
  src/app/contact/page.tsx
Due: eslint --fix

feat: add Next Theme to the project
  src/app/_components/header/header.tsx
  src/app/_components/project/_project.scss
  src/app/_components/themeProvider/index.ts
  src/app/_components/themeProvider/themeProvider.tsx
  src/app/layout.tsx
  src/app/resume/_components/resume/resume.tsx
  src/components/core/heroHeading/heroHeading.tsx
Due: eslint --fix, prettier --write
