Repository HamzaAmar/amar-hamza: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{tsx,ts,js}": "eslint --fix",
  "*.{json,md,scss,css}": "prettier --write",
  "*.{css, scss}": "stylelint --fix"
}

feat: Make the Phone and Email Contact Link
  src/app/contact/components/contact/_contact.scss
  src/app/contact/page.tsx
  src/app/contact/utils/contact.data.tsx
  src/app/contact/utils/contact.type.ts
  src/app/page.tsx
  src/components/core/input-field/_input-field.scss
  src/components/core/input-field/formController.tsx
  src/components/core/input-field/input-field.type.ts
Due: eslint --fix, prettier --write

feat: add favorites you post to blog post
  .yarn/install-state.gz
  package.json
  src/app/_components/articles/FavoriteButton.tsx
  src/app/_components/articles/_articles.scss
  src/app/_components/articles/articles.tsx
  src/hooks/useFavorite/index.ts
  src/hooks/useFavorite/useFavorite.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: improve Rendering Post
  content/client-side-rendering.mdx
  content/multi-page-application.mdx
  content/static-website.mdx
  public/assets/blog/rendering/csr.webp
  public/assets/blog/rendering/mpa.webp
  src/app/_components/articles/FavoriteButton.tsx
  src/app/_components/articles/article.type.ts
  src/app/_components/articles/articles.tsx
  src/components/core/_index.scss
  src/components/core/conversation/_conversation.scss
  src/components/core/conversation/conversation.tsx
  src/components/core/conversation/index.ts
  src/components/core/mdx.tsx
  src/components/icons/browser.tsx
  src/components/icons/index.ts
  src/components/icons/server.tsx
  src/components/icons/utils/config.tsx
Due: eslint --fix, prettier --write

feat: add header to the converstaion component
  content/client-side-rendering.mdx
  content/multi-page-application.mdx
  src/components/core/conversation/_conversation.scss
  src/components/core/conversation/conversation.tsx
  src/components/icons/index.ts
  src/components/icons/users.tsx
Due: eslint --fix, prettier --write

feat: add new Article Hydration and SSG
  content/Static Site Generation.mdx
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/multi-page-application.mdx
  content/static-website.mdx
  public/assets/blog/rendering/csr.webp
  public/assets/blog/rendering/hydration.webp
  public/assets/blog/rendering/ssg.webp
  src/components/core/conversation/_conversation.scss
  src/components/core/conversation/conversation.tsx
Due: eslint --fix, prettier --write

fix: problem that prevent from building
  .yarn/install-state.gz
  package.json
  src/app/_components/_index.scss
  src/app/contact/_contact.scss
  src/app/contact/components/contact/contact.data.tsx
  src/app/contact/components/contact/contact.tsx
  src/app/contact/components/contact/contact.type.ts
  src/app/contact/components/contact/index.ts
  src/app/contact/page.tsx
  src/app/resume/page.tsx
  src/components/sections/index.ts
  src/hooks/form/useContact.ts
  tsconfig.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

feat: improve site seo by adding the neccessery meta tags
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/logo-192X192..png
  public/favicon/logo-512X512.png
  public/favicon/me-192X192.png
  public/favicon/me-512X512.png
  public/favicon/safari-pinned-tab.svg
  public/favicon/site.webmanifest
  public/manifest.json
  public/robots.txt
  public/sitemap.xml
  scripts/generate_sitemap.js
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/page.tsx
  src/app/contact/page.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/page.tsx
  src/app/resume/page.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/constants/domain.ts
Due: eslint --fix, prettier --write

fix: typescript problem that prevent build
  .yarn/install-state.gz
  package.json
  src/app/_components/articles/article.type.ts
  src/app/_components/articles/articles.tsx
  src/app/actions/contact.ts
  src/app/contact/page.tsx
  src/app/layout.tsx
  tsconfig.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

fix: dark mode in the hightlight
  src/scss/generics/_reset.scss
  src/scss/settings/_colors.scss
Due: prettier --write

feat: upgrade storybook to 8
  .storybook/main.js
  .storybook/preview.js
  .yarn/install-state.gz
  package.json
  src/components/core/alert/alert.stories.tsx
  src/components/core/avatar/avatar.stories.tsx
  src/components/core/button/stories/button.stories.tsx
  src/components/core/button/stories/iconButton.stories.tsx
  src/components/core/flex/flex.stories.tsx
  src/components/core/grid/grid.stories.tsx
  src/components/core/input-field/storybook/input.stories.tsx
  src/components/core/input-field/storybook/textarea.stories.tsx
  src/components/core/spinner/spinner.stories.tsx
  src/components/core/tag/tag.stories.tsx
  src/scss/generics/_index.scss
  src/scss/generics/_reset.scss
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

fix: prerendered /blogs/[slug] staticly
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

feat: add new articles to the blog post
  content/Static Site Generation.mdx
  content/client-side-rendering.mdx
  content/gradient-border.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/resumability.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
  public/assets/blog/rendering/introduction.webp
  public/assets/blog/rendering/isg.webp
  public/assets/blog/rendering/island-architecture.webp
  public/assets/blog/rendering/ph.webp
  public/assets/blog/rendering/resumability.webp
  public/assets/blog/rendering/rsc.webp
  public/assets/blog/rendering/ssr.webp
  public/assets/blog/rendering/static-site-communication.png
  public/assets/blog/rendering/streaming-server-side-rendering.webp
Due: none

fix: contact page pleaceholder error and spacing between tags
  src/app/_components/articles/_articles.scss
  src/app/_components/header/header.tsx
  src/app/contact/page.tsx
  src/scss/generics/_reset.scss
Due: eslint --fix, prettier --write

feat: improve the rendering Pattern articles
  content/Static Site Generation.mdx
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/resumability.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
Due: none

refarctor: upgrade conversation and add new icons and logo
  src/app/_components/header/header.tsx
  src/app/_components/logo.tsx
  src/components/core/conversation/_conversation.scss
  src/components/core/conversation/conversation.tsx
  src/components/icons/index.ts
  src/components/icons/world.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix: url problem to the new rendering pattern
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
Due: none

refactor: improve style from the button and mdx
  src/app/_components/header/header.tsx
  src/app/contact/_contact.scss
  src/app/contact/page.tsx
  src/components/core/button/_button.scss
  src/components/core/mdx.tsx
Due: eslint --fix, prettier --write

fix: the url to use Link not a tags by removing https and the full urls and use relative links
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/resumability.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
Due: none

fix: the missing /blogs/ in the rendering series links
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
Due: none

fix: input color contrast problem
  src/components/core/input-field/_input-field.scss
Due: prettier --write

refactor: remove sorting data from the blog page to the api
  src/api/blog.ts
  src/app/blogs/page.tsx
Due: eslint --fix

feat: upgrade the rendering pattern blog
  content/rendering-pattern-introduction.mdx
Due: none

feat: update the static site blog to be easy , no Boring
  content/static-website.mdx
Due: none

feat: improve the mpa conversation
  content/multi-page-application.mdx
Due: none

feat: upgrade the conversation
  src/components/core/conversation/_conversation.scss
  src/components/core/conversation/conversation.tsx
  src/components/icons/index.ts
  src/components/icons/speaker.tsx
Due: eslint --fix, prettier --write

feat: update posts and fix the analytics problem
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/resumability.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
  public/assets/blog/rendering/resumability.webp
  public/assets/blog/rendering/static-website.webp
  src/app/_components/service/services.data.tsx
  src/app/layout.tsx
  src/scss/generics/_reset.scss
Due: eslint --fix, prettier --write

feat: upgade storybook and remove console
  .gitignore
  .yarn/install-state.gz
  content/gradient-border.mdx
  content/scale-css.mdx
  package.json
  src/app/actions/contact.ts
  src/app/contact/form.tsx
  src/app/contact/page.tsx
  src/app/contact/submit.tsx
  src/app/layout.tsx
  src/components/core/alert/alert.stories.tsx
  src/components/core/mdx.tsx
  src/hooks/useFavorite/useFavorite.ts
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

feat: update from tag manager to google analytics
  src/app/layout.tsx
Due: eslint --fix

feat: improve the static website article , and fix introduction like error
  content/rendering-pattern-introduction.mdx
  content/static-website.mdx
Due: none

feat: upgrade posts content
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/resumability.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
Due: none

feat: add new role me to the conversation
  src/components/core/conversation/_conversation.scss
  src/components/core/conversation/conversation.tsx
Due: eslint --fix, prettier --write

fix: multipage application typos
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/server-component.mdx
Due: none

feat: improve the blogs articles
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
Due: none

feat: prevent layout shift by make the image fill the parent
  .vscode/settings.json
  src/app/_components/articles/articles.tsx
  src/app/_components/project/_project.scss
  src/app/_components/project/projects.tsx
  src/app/blogs/[slug]/page.tsx
  src/scss/settings/_colors.scss
Due: eslint --fix, prettier --write

feat: change the images to better one and add other section to the RSC
  content/server-component.mdx
  public/assets/blog/rendering/csr.webp
  public/assets/blog/rendering/hydration.webp
  public/assets/blog/rendering/introduction.webp
  public/assets/blog/rendering/isg.webp
  public/assets/blog/rendering/island-architecture.webp
  public/assets/blog/rendering/mpa.webp
  public/assets/blog/rendering/ph.webp
  public/assets/blog/rendering/resumability.webp
  public/assets/blog/rendering/rsc.webp
  public/assets/blog/rendering/ssg.webp
  public/assets/blog/rendering/ssr.webp
  public/assets/blog/rendering/static-website.webp
  public/assets/blog/rendering/streaming-server-side-rendering.webp
Due: none

feat: add footer to the blog post and readme
  README.md
  content/rendering-pattern-introduction.mdx
  src/api/blog.ts
  src/app/blogs/[slug]/_reading-layout.scss
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix, prettier --write

refactor: replace hardcoded slug with dynamic generation from filename
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
Due: none

refactor: blogs articles
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/resumability.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

feat: upgrade post contact info and fix the post image
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
  src/app/blogs/[slug]/_reading-layout.scss
  src/app/blogs/[slug]/page.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

feat: add pending in contact form and remove website in favore of rendering patterns
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/progressive-hydration.mdx
  content/server-component.mdx
  content/static-website.mdx
  src/app/contact/submit.tsx
Due: eslint --fix
