Repository HamzaAmar/amar-hamza: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: upgrade all deps to last version
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

fix: downground stylelint-config-standard-scss to 14
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

refactor: the codebase and remove unused files and storybook
  .storybook/main.js
  .storybook/preview.js
  .storybook/test-runner.js
  .yarn/install-state.gz
  README.md
  package.json
  public/assets/blog/authors/Frame 71 (1).webp
  public/assets/blog/authors/jj.jpeg
  public/assets/blog/authors/joe.jpeg
  public/assets/blog/authors/tim.jpeg
  public/assets/blog/dynamic-routing/cover.jpg
  public/assets/blog/hello-world/cover.jpg
  public/assets/blog/preview/cover.jpg
  src/app/actions/contact.ts
  src/app/actions/views.ts
  src/app/blogs/[slug]/page-views.tsx
  src/app/contact/page.tsx
  src/constants/contact-info.ts
  src/constants/info.ts
  src/hooks/use-boolean.ts
  src/hooks/use-favorite.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor the codebase and remove story book files
  .yarn/install-state.gz
  package.json
  src/app/blogs/[slug]/page.tsx
  src/app/resume/_components/resume/index.tsx
  src/app/resume/_components/resume/resume.data.tsx
  src/components/core/alert/alert.stories.tsx
  src/components/core/avatar/avatar.stories.tsx
  src/components/core/button/stories/button.stories.tsx
  src/components/core/button/stories/iconButton.stories.tsx
  src/components/core/flex/flex.stories.tsx
  src/components/core/grid/grid.stories.tsx
  src/components/core/input-field/storybook/input.stories.tsx
  src/components/core/input-field/storybook/textarea.stories.tsx
  src/components/core/spinner/spinner.stories.tsx
  src/components/core/tag/tag.stories.tsx
  src/type/polymorphic.type.ts
  src/utils/classnames.tsx
  src/utils/classnames/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: upgrade the project deps
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

feat: imporvement in the Resume
  src/app/resume/_components/resume/_resume.scss
  src/app/resume/_components/resume/index.tsx
  src/app/resume/_components/resume/resume.data.tsx
Due: eslint --fix, prettier --write

feat: add new project to the projects sections
  .yarn/install-state.gz
  next-env.d.ts
  public/assets/project/taouafi/favicon.ico
  public/assets/project/taouafi/taouafi.png
  src/constants/project/index.ts
  src/constants/project/taouafi.ts
  yarn.lock
Due: eslint --fix

feat: upgrade next and react to the latest version
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

feat: upgrade all packages to the menor version
  .yarn/install-state.gz
  next-env.d.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{tsx,ts,js}
  prettier --write: any of: *.{json,md,scss,css}
  stylelint --fix: any of: *.{css, scss}
