Repository HamzaAmar/amar-hamza: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: add view count to the project and upgrade the rendering posts
  .env.exemple
  .yarn/install-state.gz
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
  package.json
  src/app/actions/contact.ts
  src/app/actions/views.ts
  src/app/blogs/[slug]/_reading-layout.scss
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/[slug]/pageViews.tsx
  src/utils/supabase/client.ts
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

feat: change the logo to regular text
  src/app/_components/header/_header.scss
  src/app/_components/header/header.tsx
Due: eslint --fix, prettier --write

fix: frontmatter problems that prevent showing content and excpert
  content/hydration.mdx
  content/progressive-hydration.mdx
  content/server-side-rendering.mdx
  content/static-website.mdx
Due: none

fix: a question error in the conversation
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/resumability.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
Due: none

fix: the favicon double dots problems
  public/favicon/logo-192X192.png
Due: none

fix: remove resumability article to finish it later
  content/resumability.mdx
Due: none

fix: favicon problem by removing s at the end of it
  src/app/manifest.ts
Due: eslint --fix

fix: sitemap post freqchange
  content/client-side-rendering.mdx
  content/hydration.mdx
  content/increment-site-generation.mdx
  content/island-architecture.mdx
  content/multi-page-application.mdx
  content/progressive-hydration.mdx
  content/rendering-pattern-introduction.mdx
  content/server-component.mdx
  content/server-side-rendering.mdx
  content/static-site-generation.mdx
  content/static-website.mdx
  content/streaming-server-side-rendering.mdx
  src/api/blog.ts
  src/app/blogs/[slug]/page.tsx
  src/app/sitemap.ts
  src/type/post.ts
Due: eslint --fix

refactor: improve home page seo
  src/app/_components/about/about.tsx
  src/app/_components/articles/articles.tsx
  src/app/_components/project/projects.tsx
  src/app/_components/service/service.tsx
  src/app/_components/skill/skill.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/core/heroHeading/heroHeading.tsx
  src/constants/project/domlav.ts
  src/constants/project/gamer.ts
  src/constants/project/linkdin.ts
  src/constants/project/uiLego.ts
Due: eslint --fix

feat: improve the seo of both contact and blogs
  public/assets/Keyboard.png
  src/app/_components/_index.scss
  src/app/_components/articles/articles.tsx
  src/app/blogs/_blogs.scss
  src/app/blogs/page.tsx
  src/app/contact/form.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/scss/utilities/_section.scss
Due: eslint --fix, prettier --write

fix: the image Capitalize problem that prevent page from load
  public/assets/keyboards.png
  src/app/blogs/page.tsx
Due: eslint --fix

refactor: improve the blog post title
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

feat: add data.org to the home and blog pages
  public/assets/project/pillar/pillar.png
  src/app/blogs/[slug]/page.tsx
  src/app/page.tsx
  src/constants/socialMenu.tsx
Due: eslint --fix

fix: add forgeting schema.org and image og images
  src/app/blogs/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --fix

refactor: make resume better and remove unused classNames
  .yarn/install-state.gz
  package.json
  src/app/resume/_components/resume/_resume.scss
  src/app/resume/_components/resume/resume.data.ts
  src/app/resume/_components/resume/resume.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: article conversation issues and improve the site size
  src/app/_components/_not-found.scss
  src/app/_components/about/about.tsx
  src/app/_components/footer/footer.tsx
  src/app/_components/header/_header.scss
  src/app/blogs/[slug]/_reading-layout.scss
  src/app/blogs/[slug]/page.tsx
  src/app/not-found.tsx
  src/app/resume/_components/resume/resume.tsx
  src/components/core/conversation/_conversation.scss
  src/components/core/conversation/index.tsx
  src/components/core/social/_social.scss
  src/components/core/social/index.tsx
  src/components/core/tag/_tag.scss
  src/scss/_theme.scss
  src/scss/base/_code.scss
  src/scss/base/_form.scss
  src/scss/generics/_reset.scss
  src/scss/main.scss
  src/scss/settings/_colors.scss
  src/scss/settings/_font.scss
  src/scss/settings/_index.scss
  src/scss/settings/_radius.scss
  src/scss/settings/_shadow.scss
  src/scss/settings/_space.scss
  src/scss/settings/_zindex.scss
  src/scss/utilities/_circle.scss
  src/scss/utilities/_section.scss
Due: eslint --fix, prettier --write

refactor: improve the converstation component
  src/components/core/conversation/_conversation.scss
  src/components/core/conversation/index.tsx
  src/components/core/typography/_typography.scss
  src/components/core/typography/index.tsx
  src/scss/_theme.scss
Due: eslint --fix, prettier --write

fea: improve the about and social compoenent
  src/app/_components/about/about.tsx
  src/components/core/social/index.tsx
Due: eslint --fix

feat: add new articles cascade and inheritance
  content/css-cascade.mdx
  content/hydration.mdx
  content/island-architecture.mdx
  content/react-server-components.mdx
  content/rendering-pattern-introduction.mdx
  content/static-site-generation.mdx
Due: none

refactor: restructer the project scss
  src/scss/base/_index.scss
  src/scss/base/_mdx.scss
  src/scss/main.scss
Due: prettier --write

fix: the wrong url of the car rental
  src/constants/project/car-rental.ts
  src/constants/project/index.ts
Due: eslint --fix

fix: the wrong structure of the heading
  src/app/_components/about/about.tsx
Due: eslint --fix

feat: add cascade layer image
  public/assets/blog/cascade/origin.png
  tsconfig.tsbuildinfo
Due: none

refactor: reduce the size of the core components
  src/components/core/alert/_alert.scss
  src/components/core/alert/alert.stories.tsx
  src/components/core/alert/alert.type.ts
  src/components/core/alert/index.tsx
  src/components/core/avatar/_avatar.scss
  src/components/core/button/_button.scss
  src/components/core/code/_index.scss
  src/components/core/mdx/index.tsx
  src/components/core/progress/_circleProgress.scss
  src/components/core/spinner/_spinner.scss
  src/components/core/tag/_tag.scss
  src/components/core/typography/_typography.scss
Due: eslint --fix, prettier --write

refactor: fix icons issues
  src/components/icons/browser.tsx
  src/components/icons/check.tsx
  src/components/icons/index.ts
  src/components/icons/info.tsx
  src/components/icons/server.tsx
  src/components/icons/speaker.tsx
  src/components/icons/success.tsx
  src/components/icons/utils/config.tsx
  src/components/icons/warning.tsx
Due: eslint --fix

feat: add new css cascade article
  content/css-cascade.mdx
  package.json
  public/assets/blog/cascade/origin.png
  src/scss/utilities/_color.scss
  tsconfig.tsbuildinfo
Due: prettier --write

fix: sendMail typescript error tha prevent build
  src/app/actions/contact.ts
  src/app/contact/form.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix

feat: improve cascade article
  content/css-cascade.mdx
  public/assets/blog/cascade/origin.png
  src/components/core/code/_index.scss
Due: prettier --write

feat: improve cascade layer section in css cascade article
  content/css-cascade.mdx
Due: none

feat: add the hero image to cascade section
  content/css-cascade.mdx
  public/assets/blog/authors/Frame 71 (1).webp
  public/assets/blog/cascade/cascade.webp
Due: none

feat: fix grammer issues in the cascade article
  content/css-cascade.mdx
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

feat: add size variant to social and fix the blog header
  src/app/blogs/[slug]/page.tsx
  src/components/core/social/_social.scss
  src/components/core/social/index.tsx
  src/components/core/social/social.type.ts
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

fix: issues related to the article
  content/css-cascade.mdx
  src/app/contact/utils/contact.type.ts
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/sitemap.ts
  src/constants/socialMenu.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix

fix: improve the cascade article by detailed a little into the selector in the specificity section
  content/css-cascade.mdx
  src/components/core/code/_index.scss
Due: prettier --write

fix: improvement in the order of appearance section
  content/css-cascade.mdx
Due: none

refactor: improve the cascade article specificity section
  content/css-cascade.mdx
Due: none

fix: improvement in the css cascade layer and specificity
  content/css-cascade.mdx
  src/components/core/code/_index.scss
Due: prettier --write

fix: remove typos from the cascade article
  content/css-cascade.mdx
Due: none

Path conditions:
  eslint --fix: any of: *.{tsx,ts,js}
  prettier --write: any of: *.{json,md,scss,css}
  stylelint --fix: any of: *.{css, scss}
