Repository HamzaAmar/amar-hamza: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{tsx,ts,js}": "eslint --fix",
  "*.{json,md,scss,css}": "prettier --write",
  "*.{css, scss}": "stylelint --fix"
}

fix: issue related to spacing
  src/app/contact/form.tsx
  src/components/core/input-field/_input-field.scss
Due: eslint --fix, prettier --write

fix: add a section for help
  content/css-cascade.mdx
Due: none

feat: change the sendmail to nodemailer
  package.json
  src/app/_components/header/header.tsx
  src/app/actions/contact.ts
  src/app/blogs/[slug]/page.tsx
  src/app/contact/form.tsx
  src/app/contact/page.tsx
  src/components/core/alert/index.tsx
Due: eslint --fix, prettier --write

refactor: try to fix nodemailer issue
  package.json
  src/app/actions/contact.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add scroll animation to the project
  src/scss/_animation.scss
  src/scss/main.scss
Due: prettier --write

feat: add the animation to the project
  src/app/_components/articles/articles.tsx
  src/app/_components/header/header.tsx
  src/app/_components/logo.tsx
  src/app/_components/logo/index.tsx
  src/app/_components/project/projects.tsx
  src/app/_components/service/service.tsx
  src/app/_components/skill/skill.tsx
Due: eslint --fix

feat: add new favIcon to look like the new logo
  src/app/favicon.ico
Due: none

feat: add the animation to the heroHeading
  src/components/core/code/_index.scss
  src/components/core/heroHeading/index.tsx
Due: eslint --fix, prettier --write

refactor: improvement in the articles
  .yarn/install-state.gz
  content/css-cascade.mdx
  content/react-server-components.mdx
  content/rendering-pattern-introduction.mdx
  tsconfig.tsbuildinfo
Due: none

feat: add new project and fix typescript issue
  public/assets/project/huna/huna-avatar.png
  public/assets/project/huna/huna.png
  public/assets/project/open-hand/ohm.png
  src/components/icons/figma.tsx
  src/components/icons/index.ts
  src/constants/project/car-rental.ts
  src/constants/project/cinema.ts
  src/constants/project/dashboard.ts
  src/constants/project/domlav.ts
  src/constants/project/gamer.ts
  src/constants/project/huna-book.ts
  src/constants/project/index.ts
  src/constants/project/linkdin.ts
  src/constants/project/open-hand.ts
  src/constants/project/pillar.ts
  src/constants/project/project.type.ts
  src/constants/project/uiLego.ts
Due: eslint --fix

feat: add new services to the site
  src/app/_components/project/projects.tsx
  src/app/_components/service/services.data.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix

fix: add captcha to contact page
  src/api/verifyToken.ts
  src/app/_components/service/services.data.tsx
  src/app/actions/contact.ts
  src/app/contact/contact.type.ts
  src/app/contact/form.tsx
  src/app/contact/submit.tsx
Due: eslint --fix

feat: add new project to the site
  .yarn/install-state.gz
  package.json
  public/assets/project/food/food.png
  src/constants/project/food.ts
  src/constants/project/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: add pillar ui to the projects
  .env.exemple
  src/constants/project/cinema.ts
  src/constants/project/dashboard.ts
  src/constants/project/gamer.ts
  src/constants/project/open-hand.ts
Due: eslint --fix

feat: improvement in the about section and scroll animation
  src/app/_components/about/_about.scss
  src/app/_components/about/about.tsx
  src/app/_components/project/projects.tsx
  src/app/_components/service/_service.scss
  src/app/_components/skill/_skill.scss
  src/components/core/alert/index.tsx
  src/scss/_animation.scss
Due: eslint --fix, prettier --write

feat: change the resume structure design
  src/app/resume/_components/resume/_resume.scss
  src/app/resume/_components/resume/resume.tsx
Due: eslint --fix, prettier --write

fix: remove subject and add let's connect section
  src/app/_components/footer/_footer.scss
  src/app/_components/footer/footer.tsx
Due: eslint --fix, prettier --write

fix: the issue related to heading
  src/app/_components/about/about.tsx
  src/components/core/heroHeading/index.tsx
Due: eslint --fix

fix: add lazy to avatar
  src/app/_components/articles/articles.tsx
  src/app/_components/footer/footer.tsx
  src/app/layout.tsx
  src/components/core/avatar/avatar.type.ts
  src/components/core/avatar/index.tsx
Due: eslint --fix

perf: improve the site performance
  .yarn/install-state.gz
  next-env.d.ts
  next.config.mjs
  package.json
  src/app/_components/about/index.ts
  src/app/_components/about/index.tsx
  src/app/_components/articles/index.ts
  src/app/_components/articles/index.tsx
  src/app/_components/footer/index.ts
  src/app/_components/footer/index.tsx
  src/app/_components/header/index.ts
  src/app/_components/header/index.tsx
  src/app/_components/header/navLink.tsx
  src/app/_components/header/navLink/index.ts
  src/app/_components/logo.tsx
  src/app/_components/project/index.ts
  src/app/_components/project/index.tsx
  src/app/_components/service/index.tsx
  src/app/_components/service/service.tsx
  src/app/_components/skill/index.ts
  src/app/_components/skill/index.tsx
  src/app/_components/themeProvider.tsx
  src/app/_components/themeProvider/index.ts
  src/app/layout.tsx
  src/lib/gtag.ts
  src/utils/formatDate.ts
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

feat: add new projects to the site
  public/assets/project/pillar-dashboard/dashboard.png
  src/app/not-found.tsx
  src/app/page.tsx
  src/constants/project/index.ts
  src/constants/project/pillar-dashaboard.ts
  tsconfig.tsbuildinfo
Due: eslint --fix

fix: sitemap issue changeFrequency
  src/app/sitemap.ts
Due: eslint --fix

fix: add qodo to gitignore
  .gitignore
Due: none

fix: remove tsconfig
  .gitignore
  src/app/resume/_components/resume/resume.data.ts
  src/app/resume/_components/resume/resume.tsx
  tsconfig.tsbuildinfo
Due: eslint --fix

fix: upgrade to next js 15 and resolve all issues
  .yarn/install-state.gz
  content/multi-page-application.mdx
  next-env.d.ts
  package.json
  src/app/_components/service/services.data.tsx
  src/app/contact/form.tsx
  src/app/contact/submit.tsx
  src/components/core/flex/index.tsx
  src/components/icons/level.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: remove scroll driven animation
  src/app/_components/articles/_articles.scss
  src/scss/_animation.scss
Due: prettier --write

fix: issue in mdx component of circular deps
  .yarn/install-state.gz
  next.config.mjs
  src/app/_components/header/index.tsx
  src/app/sitemap.ts
  src/components/core/alert/index.tsx
  src/components/core/index.ts
  src/components/core/mdx/index.tsx
  src/components/core/mdxsss.tsx
  yarn.lock
Due: eslint --fix

fix: Implement 308 redirects for renamed/moved pages to resolve SEO issues.
  next.config.mjs
Due: none

fix: Change the params to await in favor to next js 15
  package.json
  src/app/blogs/[slug]/page.tsx
  src/scss/main.scss
Due: eslint --fix, prettier --write

fix: typescript issue in mdx code section
  package.json
  src/components/core/code/code.type.ts
  src/components/core/code/index.tsx
  src/components/core/mdx/index.tsx
Due: eslint --fix, prettier --write

fix: add code to index.tsx to remove barrel file
  src/app/resume/_components/resume/index.ts
  src/app/resume/_components/resume/index.tsx
  src/app/resume/page.tsx
Due: eslint --fix

fix: improvement into typescript code
  .yarn/install-state.gz
  package.json
  src/app/sitemap.ts
  src/type/polymorphic.type.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: prettier issues
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: prettier --write

fix: add eslint 19 and antfu config
  .prettierignore
  .prettierrc
  .vscode/settings.json
  .yarn/install-state.gz
  eslint.config.mjs
  package.json
  src/app/not-found.tsx
  src/app/page.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: remove forwardRef and update the polymorphic
  .storybook/main.js
  .yarn/install-state.gz
  scripts/createComponents.js
  scripts/generate_rss.js
  src/api/blog.ts
  src/app/_components/articles/article.type.ts
  src/app/_components/articles/index.tsx
  src/app/actions/contact.ts
  src/app/actions/views.ts
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/page.tsx
  src/app/contact/page.tsx
  src/app/not-found.tsx
  src/app/resume/_components/resume/index.tsx
  src/components/core/avatar/avatar.stories.tsx
  src/components/core/button/index.tsx
  src/components/core/flex/index.tsx
  src/components/core/grid/grid.stories.tsx
  src/components/core/grid/index.tsx
  src/components/core/heroHeading/index.tsx
  src/components/core/index.ts
  src/components/core/mdx/index.tsx
  src/components/core/tag/index.tsx
  src/components/core/typography/_typography.scss
  src/components/core/typography/index.tsx
  src/components/core/typography/typography.type.ts
  src/type/polymorphic.type.ts
  src/type/skill.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: remove index from Resume Index
  src/app/resume/_components/resume/index.tsx
  src/hooks/useClipboard.ts
Due: eslint --fix

fix: change the filename to be kabab-case
  createComponent.js
  eslint.config.mjs
  src/api/verify-token.ts
  src/app/_components/articles/index.tsx
  src/app/_components/header/index.tsx
  src/app/_components/header/nav-link.tsx
  src/app/_components/theme-provider.tsx
  src/app/actions/contact.ts
  src/app/blogs/[slug]/page-views.tsx
  src/app/blogs/[slug]/page.tsx
  src/components/core/_index.scss
  src/components/core/hero-heading/hero-heading.type.ts
  src/components/core/hero-heading/index.tsx
  src/components/core/input-field/form-controller.tsx
  src/components/core/progress/_circle-progress.scss
  src/components/core/social/index.tsx
  src/constants/contact-info.ts
  src/constants/project/ui-lego.ts
  src/constants/social-menu.tsx
  src/hooks/use-boolean/index.ts
  src/hooks/use-clipboard.ts
  src/hooks/use-favorite/index.ts
  src/hooks/useBoolean/index.ts
  src/hooks/useFavorite/index.ts
  src/utils/format-date.ts
Due: eslint --fix, prettier --write

fix: upgrade lint-staged && husky to latest version
  .husky/pre-commit
  .yarn/install-state.gz
  package.json
  src/app/_components/header/index.tsx
  src/app/actions/contact.ts
  src/app/layout.tsx
  src/components/core/hero-heading/index.tsx
  src/components/core/index.ts
  src/components/core/input-field/index.ts
  src/components/core/social/index.tsx
  src/constants/project/index.ts
  yarn.lock
Due: eslint --fix, prettier --write
